body {
    font-family: League Gothic;
}

#container {
    display: grid;
    width: 100%;
    height: 600px;
    grid-template-areas:
        "hd1 hd2 hd3 hd4 hd5"
        "c1 c1 c1 c1 c1"
        "c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c3";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.header {
    background-color: white;
    color: black;
}

.hd1 {
    grid-area: hd1;
}

.hd2 {
    grid-area: hd2;
}

.hd3 {
    grid-area: hd3;
}

.hd4 {
    grid-area: hd4;
}

.hd5 {
    grid-area: hd5;
}

.content-1,
.content-2,
button {
    background-color: rgb(242, 242, 242);
}

.content-1 {
    color: green;
    font-size: 50px;
    font-weight: bolder;
    grid-area: c1;
}

.content-2 {
    grid-area: c2;
    font-size: larger;
}

button {
    grid-area: c3;
    background-color: green;
    color: white;
    font-weight: bold;
    width: 20%;
    height: 30px;
    border-radius: 4px;
}